<!DOCTYPE html>
<html>
<head>
	    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %} "/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>SE</title>
</head>
<body>
	 <div class="search">
		<form class="navbar-form navbar-left" role="search" method="get" action="/search/"/>
			<div class="form-group">
				<input type="text" id="space" class="form-control" placeholder="Search....." name="entry" value="{{query}}">
			</div>
			<button type="submit" id="searchbutton" class="btn btn-default">Search</button>
		</form>
	 </div>
</body>
</html>